 @font-face {
   font-family: policeHeader;
   src: url(https://webetu.iutnc.univ-lorraine.fr/www/besoin3u/crazy-charlie_day/src/font/SansationLight.woff);
}



  .header {
background:url(https://webetu.iutnc.univ-lorraine.fr/www/besoin3u/crazy-charlie_day/src/images/banniere.jpg) no-repeat;
    background-size: cover;
	  max-width: 100%;
      height: 10em;
    padding: 20px;
    text-align: center;
	color: white;
	font-family: policeHeader;
}

.bouton {
    padding: 16px 32px;
	width : 870px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 4px solid #008CBA;
	font-family: policeHeader;
}

.bouton:hover {
    background-color: #008CBA;
    color: white;
}
